<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Google</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <div class="container">
        <h1>Login with Google</h1>
        <div id="status"></div>
        <div class="buttons">
            <a href="/login">Login with Google</a>
            <!-- <a href="/logout">Logout</a> -->
        </div>
    </div>
</body>
</html>
